Package: greenwave
Version: 1
Depends: libc, libuci20130104
Source: feeds/opicyberwrt/greenwave
SourceName: greenwave
Section: utils
SourceDateEpoch: 1700002853
Architecture: arm_cortex-a7_neon-vfpv4
Installed-Size: 4508
Description:  LCD-I2C Display Driver
